<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".android.WiproApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".android.compose.ComposeMainActivity"
            android:exported="false" />
        <activity
            android:name=".android.userProfile.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".android.viewModelWithFragment.ShoppingActivityWithFragment"
            android:exported="false" />
        <activity
            android:name=".android.viewModelRecyclerView.ShoppingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".android.viewModelRecyclerView.ShoppingActivity"
            android:exported="false" />
        <activity
            android:name=".android.learningTopic.TopicListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.activityLifecycle.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".android.activityLifecycle.MainActivity"
            android:exported="true" />
    </application>

</manifest>